*{
    font-family: 'Barlow Semi Condensed';
    color: white;
}

body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, var(--RaG1) 30%,var(--RaG2) 90%);
    height: 100vh;
}


.title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 693px;
    border: 2px solid var(--Header-Outline);
    border-radius: 12px;
    padding: 0px 20px 0 25px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    font-size: 30px;
    margin: 0;
    padding: 20px 0;
    line-height: 24px;
}
.score-box{
    background: white;
    width: 130px;
    height: 110px;
    border-radius: 6px;
    text-align: center;

}
#score-text{
    color: var(--Score-Text);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
    font-size: 14px;
}
#score-num{
    color: #525252;
    font-size: 55px;
    font-weight: bold;
    margin: -14px 0 0 0;
}


.pentagon-items-box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#bg-pentagon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.buttons{
    position: relative;
    height: 500px;
    width: 570px;
    transform: scale(.8);
}
.btn-el{
    background-color: #f0efef;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
}
.img-el{
    width: 70px;
}

#rock-btn{
    border: solid 25px var(--RG2);
    box-shadow: inset 0 7px #d8d6d6;
    order: 1;
    position: relative;
    bottom: -322px;
    left: 301px;
}
#rock-btn::after{
    position: absolute;
    bottom: -26px;
    left: -26px;
    content: '';
    width: 202px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    border-bottom: solid 8px var(--RG1);
}

#paper-btn{
    border: solid 25px var(--PG2);
    box-shadow: inset 0 7px #d8d6d6;
    position: relative;
    bottom: -107px;
    left: 171px;
}
#paper-btn::after{
    position: absolute;
    bottom: -26px;
    left: -26px;
    content: '';
    width: 202px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    border-bottom: solid 8px var(--PG1);
}

#scissors-btn{
    border: solid 25px var(--SG2); 
    box-shadow: inset 0 7px #d8d6d6;
    position: relative;
    bottom: 236px;
    left: 185px;
}
#scissors-btn::after{
    position: absolute;
    bottom: -26px;
    left: -26px;
    content: '';
    width: 202px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    border-bottom: solid 8px var(--SG1);
}

#lizard-btn{
    border: solid 25px var(--LG2);
    box-shadow: inset 0 7px #d8d6d6;
    position: relative;
    bottom: -114px;
    left: -137px;
}
#lizard-btn::after{
    position: absolute;
    bottom: -26px;
    left: -26px;
    content: '';
    width: 202px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    border-bottom: solid 8px var(--LG1);
}

#spock-btn{
    border: solid 25px var(--SpG2); 
    box-shadow: inset 0 7px #d8d6d6;
    position: relative;
    bottom: 307px;
    left: 0px;
}
#spock-btn::after{
    position: absolute;
    bottom: -26px;
    left: -26px;
    content: '';
    width: 202px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    border-bottom: solid 8px var(--SpG1);
}

#rock-btn:hover,#paper-btn:hover,
#scissors-btn:hover,#lizard-btn:hover,
#spock-btn:hover{
    opacity: .9;
    cursor: pointer;
}
#rock-btn:active,#paper-btn:active,
#scissors-btn:active,#lizard-btn:active,
#spock-btn:active{
    transform: scale(1.2);
}


.final{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    visibility: hidden;
}

.result{
    font-size: 100px;
}

#player-won{
    color: #0bd40b;
}
#game-over{
    color: #be0101;    
}
#restartBtn{
    color: #030303;
    background-color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 75px;
    border-radius: 6px;
    font-weight: bold;
}

#rules-btn{
    position: fixed;
    bottom:120px;
    right: 2%;
    background: transparent;
    border: 1px solid #7c7b7b;
    border-radius: 8px;
    padding: 8px 40px;
    text-transform: uppercase;
    color: #cfcccc;
    letter-spacing: 3px;
    font-size: 15px;
}

#triangle-link{
    position: absolute;
    bottom: 120px;
    left: 2%;
    text-decoration: none;
    border: 1px solid #7c7b7b;
    border-radius: 8px;
    padding: 8px 40px;
    text-transform: uppercase;
    color: #cfcccc;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bold;
}

#rules-btn:hover,#triangle-link:hover{
    color: hsl(237, 49%, 15%);
    background-color: #cfcccc;
    cursor: pointer;
}


.attribution { font-size: 11px; position: absolute;left: 50%;bottom: 3%;transform: translateX(-50%);}
.attribution a { color: #3ea354; }