*{
    font-family: 'Barlow Semi Condensed';
    color: white;
}

body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, var(--RaG1)30%,var(--RaG2)95%);
    height: 100vh;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    border: 2px solid var(--Header-Outline);
    border-radius: 12px;
    padding: 0 20px 0 25px;
}

h1{
    font-size: 30px;
    margin: 0;
    padding: 20px 0;
    line-height: 24px;
}

.score-box{
    background: white;
    width: 130px;
    border-radius: 6px;
    text-align: center;
}

#score-text{
    color: var(--Score-Text);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 14px;
}
#score-num{
    color: #525252;
    font-size: 55px;
    font-weight: bold;
    margin: -17px 0 0 0;
}

.game-board{
    position: relative;
    margin-top:30px;
    height: 500px;
}

#choices-p-box{
    display: flex;
    justify-content: space-around;
    margin: auto 90px;
    padding-top: 20px;
    font-size: 25px;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 2px;
    visibility: hidden;
}

.triangle-items{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.triangle{
    position: relative;
} 
#bg-triangle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.hands{
    position: relative;
    height: 500px;
    width: 570px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pc-hands{
    text-align: center;
}
.rock{
    order: 1;
}
.hand-btn{
    background-color: #f0efef;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
}
.pc-hand-btn{
    position: absolute;
}

#paper-btn,#pc-paper-btn{
    border: solid 20px var(--PG2);
    box-shadow: inset 0 7px #d8d6d6,0 7px var(--PG1);
}
#scissors-btn,#pc-scissors-btn{
    border: solid 20px var(--SG2); 
    box-shadow: inset 0 7px #d8d6d6, 0 7px var(--SG1);
}
#rock-btn,#pc-rock-btn{
    border: solid 20px var(--RG2);
    box-shadow: inset 0 7px #d8d6d6, 0 7px var(--RG1);
}

#pcWaiting{
    width: 160px;
    height: 160px;
    background: #1f2c47;
    border: solid 20px transparent;
}
.pc-waiting-box{
    border: none;
    background-color: transparent;
}

.rules{
    position: fixed;
    bottom:120px;
    right: 2%;
}
#rules-el{
    background: transparent;
    border: 1px solid #7c7b7b;
    border-radius: 8px;
    padding: 8px 40px;
    text-transform: uppercase;
    color: #cfcccc;
    letter-spacing: 3px;
    font-size: 15px;
}



























.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }