*{
    font-family: 'Barlow Semi Condensed';
    color: white;
}

body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, var(--RaG1) 30%,var(--RaG2) 90%);
    height: 100vh;
}


.title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 693px;
    border: 2px solid var(--Header-Outline);
    border-radius: 12px;
    padding: 0px 20px 0 25px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    font-size: 30px;
    margin: 0;
    padding: 20px 0;
    line-height: 24px;
}
.score-box{
    background: white;
    width: 130px;
    border-radius: 6px;
    text-align: center;
}
#score-text{
    color: var(--Score-Text);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 14px;
}
#score-num{
    color: #525252;
    font-size: 55px;
    font-weight: bold;
    margin: -17px 0 0 0;
}


.triangle-items-box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#bg-triangle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hands{
    height: 500px;
    width: 570px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.hand{
    width: 70px;
}
.hand-btn{
    background-color: #f0efef;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
}
#paper-btn{
    border: solid 20px var(--PG2);
    box-shadow: inset 0 7px #d8d6d6,0 7px var(--PG1);
}
#scissors-btn{
    border: solid 20px var(--SG2); 
    box-shadow: inset 0 7px #d8d6d6, 0 7px var(--SG1);
}
#rock-btn{
    border: solid 20px var(--RG2);
    box-shadow: inset 0 7px #d8d6d6, 0 7px var(--RG1);
    order: 1;
}


#rules-btn{
    position: fixed;
    bottom:120px;
    right: 2%;
    background: transparent;
    border: 1px solid #7c7b7b;
    border-radius: 8px;
    padding: 8px 40px;
    text-transform: uppercase;
    color: #cfcccc;
    letter-spacing: 3px;
    font-size: 15px;
}




























.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }