.player-hands{
    /* position: absolute;
    top: 50%;
    left: 23%; */
}
.player-hand-btn{
    background-color: #f0efef;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    position: absolute;
}
#player-paper-btn,#pc-paper-btn{
    border: solid 20px var(--PG2);
    box-shadow: inset 0 7px #d8d6d6,0 7px var(--PG1);
    transform: scale(1.3);
}
#player-scissors-btn,#pc-scissors-btn{
    border: solid 20px var(--SG2); 
    box-shadow: inset 0 7px #d8d6d6, 0 7px var(--SG1);
    transform: scale(1.3);
}
#player-rock-btn,#pc-rock-btn{
    border: solid 20px var(--RG2);
    box-shadow: inset 0 7px #d8d6d6, 0 7px var(--RG1);
    transform: scale(1.3);
}